* { /* Reset */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Common rules */

html {
	font-family: sans-serif;
	font-size: 18px;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.centered {
	margin: 0 auto;
	position: relative;
}

.container-1300 {
	max-width: 1300px;
	padding-left: 2rem;
	padding-right: 2rem;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

a {
	text-decoration: none;
}

nav ul {
	list-style: none;
}

nav ul>li {
	display: inline-block;
}

.btn {
	display: inline-block;
	padding: .5em 1em;
	line-height: 1em;
}

.btn-blue {
	background-color: #0061ff;
	color: white;
}

h1, p {
	line-height: 1.4em;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
}

/* Header rules */

.top-nav {
	position: fixed;
	top: 0;
	left: 0;
	
	display: block;
	overflow: hidden;
	width: 100%;
	min-width: fit-content;
	line-height: 5rem;
	height: 5rem;
	padding: 0 1.5rem;
	
	background-color: white;
}

.logo-nav {
	display: inline-block;
}

.logo {
	vertical-align: middle;
	margin-right: 3rem;
}

header {
	background-color: #b4d0e7;
}

.top-nav li:not(:last-child) {
	margin-right: 3rem;
}

.top-nav li>a:not(.btn) {
	color: black;
}

header>section {
	margin-top: 5rem;
	padding: 10rem 0;
}

header>section img {
	max-width: 70%;
}

header>section h1 {
	margin-bottom: 2rem;
}

header>section .btn {
	margin: 1rem 0;
}