* { /* Reset */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Common rules */

html {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 1.4;
}

body {
	margin-top: 5rem;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.centered {
	margin: 0 auto;
	position: relative;
}

.container-1300, .container-1100 {
	box-sizing: content-box;
	padding: 0 1rem;
}

.container-1300 {
	max-width: 1300px;
}

.container-1100 {
	max-width: 1100px;
}

.bg-lightblue {
	background-color: #b4d0e7;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

ul {
	list-style: none;
}

nav>ul>li {
	display: inline-block;
}

h1 {
	font-size: 4.5rem;
	font-weight: 700;
}

h2 {
	font-size: 2.4rem;
	font-weight: 700;
}

h3 {
	font-size: 2rem;
	font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
	font-weight: 700;
}

h4 {
	font-size: 1.1rem;
	font-weight: 700;
}

hr {
	width: 50px;
	border: 1px solid #d0d0d3;
}

/* Dropdown */

.dropdown-content {
	display: none;
}

.dropdown:hover .dropdown-content{
	display: block;
}

/* Links style and buttons */

a {
	color: #0061ff;
	text-decoration-line: underline;
}

a:hover {
	text-decoration: none;
}

.btn, nav a {
	text-decoration-line: none;
}

.btn {
	display: inline-block;
	padding: .7em 1em;
	line-height: 1em;
	font-weight: 400;
	text-align: center;
}

.btn-blue {
	background-color: #0061ff;
	color: white;
}

.btn-blue:hover {
	background-color: #3b85ff;
}

.btn-white, .btn-white-noborder {
	color: black;
	background-color: white;
}

.btn-white:hover, .btn-white-noborder:hover {
	background-color: #efefef;
}

.btn-white {
	border: 1px solid black;
}

.dropbox-to-company .btn,
.horizzontal-plan-card .btn {
	padding-left: 3rem;
	padding-right: 3rem;
}

/* Top navbar rules */

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	
	height: 5rem;
	
	background-color: white;
}

.top-nav {
	width: 100%;
	min-width: 1220px;
	line-height: calc(5rem - 2px);
	padding: 0 1rem;
}

.top-nav li>a:not(.btn) {
	display: inline-block;
	color: black;
}

.logo {
	vertical-align: middle;
}

.top-nav>ul>li:not(:last-child) {
	margin-right: 3rem;
	padding-top: 1px;
}

.top-nav>ul>li:hover {
	border-bottom: 1px solid black;
}

.top-nav ul:first-child>li:first-child:hover,
.top-nav ul:last-child>li:last-child:hover {
	border-bottom: none;
}

.top-nav .dropdown-content {
	position: absolute;
	transform: translate(-2rem, 1px);
	
	background-color: #fafafa;
	font-size: .9rem;
	font-weight: 400;
	line-height: 2rem;
}

.top-nav .dropdown-content a{
	padding: .5rem 2rem;
	width: 100%;
}

.top-nav .dropdown-content a:hover{
	background-color: #eeeeee;
}

/* Main rules */

/* Main header */
.main-header {
	padding: 100px 0 1rem;
}

.main-header img {
	max-width: 65%;
	margin-left: 40px;
	margin-bottom: -90px;
}

.main-header p {
	max-width: 35%;
}

.main-header h1 {
	margin-bottom: 2rem;
}

.main-header .btn {
	margin: 2rem 0 1rem;
}

.arrow-down {
	display: inline-block;
	margin-top: 2rem;
	font-size: 3rem;
	color: black;
}

/* Sections */

#first-section {
	margin-top: 200px;
	scroll-margin-top: 5rem;
}

.billing {
	margin: 4rem 0 2.5rem;
}

.partners {
	margin-top: 150px;
}

.partners img{
	width: 50%;
	margin-right: 4rem;
}

.partners h3 {
	padding-top: 1.5rem;
}

.partners p {
	margin: 1rem 0;
	line-height: 2;
}

.business-feature {
	margin-top: 110px;
}

.clients {
	margin-top: 200px;
}

.clients h2 {
	width: 50%;
	margin-bottom: 2rem;
}

.dropbox-to-company h2 {
	color: #620b2e;
	width: 50%;
}

.dropbox-to-company, .faq {
	padding: 120px 0;
}

.faq h3 {
	margin-bottom: 3rem;
}

.faq section.dropdown {
	border-top: 1px solid #d0d0d3;
	border-bottom: 1px solid #d0d0d3;
	padding: 2rem 0;
}

.faq section h4 {
	position: relative;
}

.faq .dropdown-content {
	padding-top: 2rem;
	color: gray;
}

.faq .dropdown-content a {
	color: inherit;
}

.faq section.dropdown h4::after {
	content: url(../img/icons/chevron-down-solid.svg);
	display: inline-block;
	width: 1rem;

	position: absolute;
	right: 2rem;
}

.faq section.dropdown:hover h4::after {
	content: url(../img/icons/chevron-up-solid.svg);
}

/* Footer rules  */

.page-footer {
	background-color: black;
	padding-bottom: 45px;
}

.footer-nav *{
	color: white;
}

.footer-nav {
	display: block;
	width: 100%;
	padding: 120px 0;
}

.footer-nav a:hover{
	text-decoration-line: underline;
}

.footer-nav h4 {
	margin-bottom: 2rem;
}

.footer-nav>ul>li {
	width: 20%;
	font-size: .9rem;
	line-height: 2;
}


.language-selection {
	color: #999;
	text-decoration: none;
	padding-top: 45px;
	padding-right: 3rem;
	border-top: 1px solid #a6a6a6;
}

/* Mock radios button */

.circle {
	display: inline-block;
	height: 1em;
	width: 1em;
	border-radius: 50%;
	border: 1px solid #d0d0d3;
	vertical-align: middle;
}

.circle:hover {
	cursor: pointer;
}

.circle-selected {
	border: 4px solid #0061ff;
}

.billing .circle:not(:first-of-type) {
	margin-left: 1rem;
}

/* Cards */

.column {
	width: 30%;
}

.column:nth-of-type(2) {
	margin: 0 5%;
}

.cards-row {
	width: 100%;
}

.plan-card {
	border: 1px solid #d0d0d3;
	font-size: .9rem;
}

.plan-card>section {
	padding: 1.5rem;
	border-top: 1px solid #d0d0d3;
}

.plan-card ul {
	margin: 3rem 0;
}

.plan-card li:not(:first-child) {
	margin-top: 1.5rem;
}

.column .btn {
	width: 100%;
}

.column .btn+div {
	margin: 2rem 0;
}

.plan-type {
	text-align: center;
	padding: .5rem;
	font-size: 1.1rem;
}

.price {
	font-weight: 700;
	font-size: 1.1rem;
	margin-top: 1rem;
}

.recurrence {
	color: gray;
	margin-top: 1rem;
}

.plan-card hr {
	width: 50px;
	margin-bottom: 2.5rem;
}

.plan-card .check {
	margin-top: 1.5rem;
	margin-bottom: 5rem;
}

.plan-card:first-of-type {
	padding-bottom: 4rem;
}

.horizzontal-plan-card {
	margin-top: 3rem;
}

.horizzontal-plan-card p {
	margin: 1.5rem 0;
}

h3+h4 {
	margin: 1rem 0;
}

.business-feature .column>img {
	width: 100%;
}

.business-feature h3, .business-feature h2 {
	margin-bottom: 2rem;
}

/* Plan card list bullets */

.plan-card .icon::before {
	display: inline-block;
	height: .9em;
	width: .9em;
	vertical-align: -.2em;
	margin-right: -.2rem;
}

.icon {
	text-indent: -.7em;
	margin-left: 1.3rem;
}

.user::before {
	content: url(../img/icons/user-regular.svg);
}

.users::before {
	content: url(../img/icons/user-plus-solid.svg);
}

.storage::before {
	content: url(../img/icons/folder-regular.svg);
}

.pencil::before {
	content: url(../img/icons/pencil-alt-solid.svg);
}

.building::before {
	content: url(../img/icons/building-regular.svg);
}

.smile::before {
	content: url(../img/icons/smile-regular.svg);
}

.check .icon::before {
	content: url(../img/icons/check-solid.svg);
}

/* Boxes */

.boxes {
	margin-top: 2rem;
	font-size: 0;
}

.small-box {
	display: inline-block;
	position: relative;
	width: 50%;
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
}

.big-box {
	display: inline-block;
	position: relative;
	width: calc(100%/3);
}

.box:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.box-content {
	position: absolute;
	width: 100%;
	height: 100%;
}

.designit {
	background-image: url(../img/designit-white.svg);
	background-color: #a2d39b;
	box-shadow:0px 0px 0px 10px #d0e9cd inset;
}

.asu {
	background-image: url(../img/arizona_state_university.svg);
	background-color: #61082b;
}

.uof {
	background-image: url(../img/university_of_florida.svg);
	background-color: #0093ce ;
}

.topps {
	background-image: url(../img/topps.svg);
	background-color: #ff1c1c ;
}

.wbr {
	background-image: url(../img/world_bicycle_relief.svg);
	background-color: #d5001f;
}

.hearst {
	background-image: url(../img/hearst_corp.svg);
	background-color: #b4d0e7;
}

.lonely-planet {
	background-image: url(../img/lonely_planet.svg);
	background-color: #0d2481cC;
}

.clear-channel {
	background-image: url(../img/clear_channel.svg);
	background-color: #ffd830;
}

.big-designit>.box-content {
	font-size: 1rem;
	background-color: #f5f5f5;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 3.5rem;
}

.logo-designit {
	width: 30%;
	min-width: 100px;
}

.big-designit hr {
	margin: 2rem 0 2.5rem;
}

.big-designit p {
	margin-bottom: 3rem;
}