* { /* Reset */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Common rules */

html {
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.4;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.centered {
	margin: 0 auto;
	position: relative;
}

.container-1300 {
	max-width: 1300px;
	padding-left: 2rem;
	padding-right: 2rem;
}

.container-1100 {
	max-width: 1100px;
	padding-left: 2rem;
	padding-right: 2rem;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

a {
	text-decoration: none;
	color: black;
}

nav ul {
	list-style: none;
}

nav ul>li {
	display: inline-block;
}

.btn {
	display: inline-block;
	padding: .5em 1em;
	line-height: 1em;
}

.btn-blue {
	background-color: #0061ff;
	color: white;
}

.circle {
	display: inline-block;
	height: 1em;
	width: 1em;
	border-radius: 50%;
	border: 1px solid gray;
	vertical-align: middle;
}

.circle-selected {
	border: 4px solid #0061ff;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
}

h2 {
	font-size: 2rem;
	margin-bottom: 3rem;
}

/* Top navbar rules */

.top-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	
	overflow: hidden;
	height: 5rem;
	width: 100%;
	line-height: 5rem;
	padding: 0 1.5rem;
	
	background-color: white;
}

.top-nav li>a {
	display: inline-block;
}

.logo-nav {
	display: inline-block;
}

.logo {
	vertical-align: middle;
	margin-right: 3rem;
}

.top-nav nav li {
	margin-right: 3rem;
}

.top-nav .btn {
	vertical-align: middle;
}

/* Main rules */

/* Main header */
.main-header {
	background-color: #b4d0e7;
}

.main-header {
	margin-top: 5rem;
	padding: 8rem 0 4rem;
}

.main-header img {
	max-width: 70%;
}

.main-header h1 {
	margin-bottom: 2rem;
}

.main-header .btn {
	margin: 1rem 0;
}

.arrow-down {
	display: inline-block;
	margin-top: 2rem;
	font-size: 2rem;
}

/* Sections */

#first-section {
	margin-top: 10rem;
}

.billing .circle:not(:first-of-type) {
	margin-left: 1rem;
}