* { /* Reset */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Common rules */

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 1.4;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.centered {
	margin: 0 auto;
	position: relative;
}

.container-1300 {
	max-width: 1300px;
	padding-left: 2rem;
	padding-right: 2rem;
}

.container-1100 {
	max-width: 1100px;
	padding-left: 2rem;
	padding-right: 2rem;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

ul {
	list-style: none;
}

nav ul>li {
	display: inline-block;
}

h1 {
	font-size: 4rem;
	font-weight: 700;
	font-family: 'Open Sans Condensed', 'Open Sans' sans-serif;;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.7rem;
}

/* Margin */

.mt-3rem {
	margin-top: 3rem;
}

.mt-5rem {
	margin-top: 5rem;
}


/* Links style */

a {
	color: #0061ff;
	text-decoration-line: underline;
}

.btn, nav a {
	text-decoration-line: none;
}

.btn {
	display: inline-block;
	padding: .5em 1em;
	line-height: 1em;
}

.btn-blue {
	background-color: #0061ff;
	color: white;
}

.btn-white {
	border: 1px solid black;
	color: black;
}

/* Top navbar rules */

.top-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	
	overflow: hidden;
	height: 5rem;
	width: 100%;
	line-height: 5rem;
	padding: 0 1.5rem;
	
	background-color: white;
}

.top-nav li>a {
	display: inline-block;
	color: black;
}

.logo-nav {
	display: inline-block;
}

.logo {
	vertical-align: middle;
	margin-right: 3rem;
}

.top-nav nav li {
	margin-right: 3rem;
}

.top-nav .btn {
	vertical-align: middle;
}

/* Main rules */

/* Main header */
.main-header {
	background-color: #b4d0e7;
}

.main-header {
	padding: 5rem 0 4rem;
}

.main-header img {
	max-width: 70%;
}

.main-header h1 {
	margin-bottom: 2rem;
}

.main-header .btn, .cards-row .btn {
	margin: 1rem 0;
}

.arrow-down {
	display: inline-block;
	margin-top: 2rem;
	font-size: 2rem;
	color: black;
}

/* Sections */

#first-section {
	margin-top: 10rem;
	scroll-margin-top: 5rem;
}

.partners {
	width: 50%;
}

/* Mock radios button */

.circle {
	display: inline-block;
	height: 1em;
	width: 1em;
	border-radius: 50%;
	border: 1px solid gray;
	vertical-align: middle;
}

.circle-selected {
	border: 4px solid #0061ff;
}

.billing .circle:not(:first-of-type) {
	margin-left: 1rem;
}

/* Cards */

.column {
	width: 30%;
}

.column:nth-of-type(2) {
	margin: 0 5%;
}

.cards-row {
	width: 100%;
}

.plan-card {
	border: 1px solid gray;
	font-size: .9rem;
}

.plan-card>section {
	padding: 1rem;
	border-top: 1px solid gray;
}

.plan-card li{
	margin-top: .5em;
}

.plan-type {
	text-align: center;
}

.price {
	font-weight: 700;
}

.recurrence {
	color: gray;
	height: 3rem;
}

.plan-card hr {
	width: 50px;
}

.business-feature .column>img {
	width: 100%;
}

/* Plan card list bullets */

.plan-card .icon::before {
	display: inline-block;
	height: .9em;
	width: .9em;
	vertical-align: -.2em;
	margin-right: -.2rem;
}

.icon {
	text-indent: -.7em;
	margin-left: 1.3rem;
}

.user::before {
	content: url(../img/icons/user-regular.svg);
}

.users::before {
	content: url(../img/icons/user-plus-solid.svg);
}

.storage::before {
	content: url(../img/icons/folder-regular.svg);
}

.pencil::before {
	content: url(../img/icons/pencil-alt-solid.svg);
}

.building::before {
	content: url(../img/icons/building-regular.svg);
}

.smile::before {
	content: url(../img/icons/smile-regular.svg);
}

.check .icon::before {
	content: url(../img/icons/check-solid.svg);
}